body {	background-image: url(../images/BGP.jpg);
		background-position:  center center
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-repeat: no-repeat;
		color: #f2f2f2; /*off white*/
		height: 100vh;
		font-family: 'Kaushan Script', cursive;
}

h1 {
	font: 50px;
	background-color: #111; /*off-black*/
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 5px;

}


h2	{

	text-transform: uppercase;
	letter-spacing: 5px;
	color: black;	
}

#PP {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	margin-top: 5px;
}

.bio {
	width: 100%;
	font-size: 18px;
	line-height: 
	background-color: rgba(51, 51, 51, 0.8);
	background-color: #111;
	/*opacity: 0.5;*/

}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;

}